<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo='Editar Cliente')}"></head>
<body>
<!-- Menu de Navegacion -->
<div th:replace="~{fragmentos/navegacion-principal::navegacion-principal-seccion}"></div>

<div class="container">
  <div class="row justify-content-center" style="margin:30px">
    <div class="col-md-8">
      <h3 class="text-center mb-4">Editar Cliente</h3>
      <div class="container">
        <form action="/actualizarCliente" th:object="${clienteForma}" method="post">
          <!-- ID oculto -->
          <input type="hidden" th:field="*{idCliente}" id="idCliente" name="idCliente"/>

          <!-- Código Cliente -->
          <div class="input-group mb-3">
            <span class="input-group-text">Código</span>
            <input type="text" th:field="*{codCli}" id="codCli" class="form-control"
                   autocomplete="on" onfocus="this.select()" required
                   style="text-transform: uppercase;"
                   oninput="this.value = this.value.toUpperCase();">
          </div>

          <!-- Nombre Cliente -->
          <div class="input-group mb-3">
            <span class="input-group-text">Nombre</span>
            <input type="text" th:field="*{nomCli}" id="nomCli" class="form-control"
                   autocomplete="on" onfocus="this.select()" required
                   style="text-transform: uppercase;"
                   oninput="this.value = this.value.toUpperCase();">
          </div>

          <!-- Dirección -->
          <div class="input-group mb-3">
            <span class="input-group-text">Dirección</span>
            <input type="text" th:field="*{dirCli}" id="dirCli" class="form-control"
                   autocomplete="on" onfocus="this.select()" required
                   style="text-transform: uppercase;"
                   oninput="this.value = this.value.toUpperCase();">
          </div>

          <!-- Email -->
          <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="email" th:field="*{emailCli}" id="emailCli" class="form-control"
                   autocomplete="on" onfocus="this.select()">
          </div>

          <!-- telefono -->
          <div class="input-group mb-3">
            <span class="input-group-text">Teléfono</span>
            <input type="tel" th:field="*{telCli}" id="telCli" class="form-control"
                   autocomplete="on" onfocus="this.select()">
          </div>

          <!-- Estatus -->
          <div class="input-group mb-3">
            <span class="input-group-text">Estatus</span>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" th:field="*{estCliente}" id="activo" value="1"/>
              <label class="form-check-label fw-bold" for="activo">Activo</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" th:field="*{estCliente}" id="inactivo" value="0"/>
              <label class="form-check-label fw-bold" for="inactivo">Inactivo</label>
            </div>
          </div>

          <!-- Botones -->
          <div class="d-flex justify-content-center mt-4">
            <button type="submit" id="btnGuardarCliente" class="btn btn-primary btn-sm me-3">
              <i class="bi bi-save me-1"></i>Guardar
            </button>
            <a href="/clientes" class="btn btn-secondary btn-sm">
              <i class="bi bi-arrow-return-left me-1"></i>Regresar
            </a>
          </div>

          <!-- Mensajes -->
          <div th:if="${mensajeError}" class="alert alert-danger mt-2" th:text="${mensajeError}"></div>
          <div th:if="${mensajeExito}" class="alert alert-success mt-2" th:text="${mensajeExito}"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"></div>
<script th:src="@{/js/clientes.js}"></script>

</body>
</html>
